@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Shrikhand|VT323&display=swap');

body {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: 'Shrikhand', cursive;
  font-size: 16px;
  text-align: center;
}

.wrapper {
  width: 800px;
}

h1, h2, h3, h4, h5 {
  margin: 0px auto;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

.bash-border {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 20px;
  padding-bottom: 40px;
}

.bash-box {
  background-color: #222;
  height: 600px;
  border: 3px solid #bbb;
  border-radius: 25px;
}

.fight-log {
  margin-top: 10px;
  padding: 15px;
  height: 550px;
  width: auto;
  overflow-y: hidden;
  font-family: 'Major Mono Display', monospace;
  text-transform: lowercase;
  color: #81fc16;
}

.fight-log p {
  margin: 0 auto;
  font-size: 1em;
  text-align: left;
}

#inGame {
  display: none;
  justify-content: space-around;
}

.stats {
  display: flex;
}

.stats div {
  display: flex;
  align-items: center;
  background-color: #81fc16;
  margin-right: 10px;
  padding: 5px;
  border-radius: 2px;
}

.stats div P {
  margin: 0px auto;
}

button {
  background-color: #ddd;
  font-family: 'Shrikhand', cursive;
  text-transform: uppercase;
  font-size: 1em;
  padding: 7px 15px;
}
